
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="{% url 'products' %}?category=dresses,bottoms,tops_ts,outerwear">Clothing</a></li>
    <li class="breadcrumb-item"><a href="{{category.get_absolute_url}}">{{product.category.friendly_name}}</a></li>
    
    <li class="breadcrumb-item"><a href="{{subcategory.get_absolute_url}}">{{product.subcategory.friendly_name}}</a></li>
  
    <li class="breadcrumb-item" aria-current="page">{{product.name}}</li>
  </ol>
</nav>
<!--
<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">category</a></li>
    <li class="breadcrumb-item active" aria-current="page">name</li>
  </ol>
</nav>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="#">Home</a></li>
    <li class="breadcrumb-item"><a href="#">Library</a></li>
    <li class="breadcrumb-item active" aria-current="page">Data</li>
  </ol>
</nav>
-->